/* осановные утилиты */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header>.container {
  height: 80px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

}

:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-text-color: #757575;
  --hero-bcg-color: #2f303a;
  --team-bcg-color: #f5f4fa;
  --footer-bcg: #2f303a;
  --address-mail: rgba(255, 255, 255, 0.6);
  --time: 250ms;
  --animate: cubic-bezier(0.4, 0, 0.2, 1);
}


/*/ здесь прописываем ховеры и фокусы /*/
.link-portfolio:hover {
  color: var(--accent-color);
  transition: all var(--time, --animate);
}

.link-portfolio:focus {
  color: var(--accent-color);
  transition:  var(--time --animate);
}

/* section{
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* navbar */





.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.navbar-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 1px solid #ECECEC;
}

.webstudio {
  margin-right: 93px;
}

.portfolio-contacts {
  padding: 0;
  margin: 0;
  display: flex;
}

/* .portfolio-contacts .item{
    margin-right: 50px;
  }
  .portfolio-contacts .item:last-child{
    margin-right: 0;
  } */
.portfolio-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  padding: 0;
  margin: 0;
}

.footer-webstudio-link {
  text-decoration: none;
}

.webstudio-span {
  color: var(--accent-color);

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.webstudio-span-studio {
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;

}

.footer-webstudio-span-studio {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;


}

.link-portfolio {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

}


.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item+.item {
  margin-left: 50px;
}

/*/ теперь прописываю стили для телефона и мейла/*/
.link-mail {
  color: var(--main-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.envelope {
  width: 16px;
  height: 12px;
  fill: #757575;

  margin-right: 10px;
}

.link-mail:hover {
  color: var(--accent-color);
  transition: all var(--time, --animate);
}

.link-mail:hover .envelope,
.link-mail:focus .envelope {
  fill: var(--accent-color);
  transition: all var(--time, --animate);
}

.mail-envelope {

  align-items: center;

}


.contacts-phone {
  color: var(--main-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.smartphone {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
}

.contacts-phone:hover {
  color: var(--accent-color);
  transition: all var(--time, --animate);
}

.contacts-phone:hover .smartphone,
.contacts-phone:focus .smartphone {
  fill: var(--accent-color);
  transition: all var(--time, --animate);
}

/* закончили с элементами навбара */
/* начинаются  секции */

/* section:not(:last-child){
  padding-top: 94px;
  padding-bottom: 94px;
} */
.header>.container {
  height: 80px;
}

section:not(:last-child) {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* наш герой */

.hero {
  background-color: var(--hero-bcg-color);
  width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;




  /* padding-bottom: 91px;
  padding-top:91px; */

  text-align: center;
  padding-bottom: 94px;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/background/Img-23.jpg);

}

.hero-title {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* горизонтальная геометрия */
  margin: 0;
  padding-top: 106px;
  padding-left: 452px;
  padding-right: 452px;
  padding-bottom: 30px;

}

.hero-link {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;
  /* вертикальная геометрия 158пикселя */
  display: inline-block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
  
  

}

button.hero-link{
  border: 4px solid var(--accent-color);
  cursor: pointer;
  
}


/* ******************************************** */
/* FEATURES */



.flex-container {

  flex-wrap: wrap;
  display: flex;
  width: 1170px;
  height: 251px;


}

.flex-container-pictures {
  flex-wrap: wrap;
  display: flex;
  width: 1170px;
  height: 294px;


}

.flex-element {
  width: 270px;
  height: 101px;
  margin-right: 30px;


}

.flex-element:nth-last-child(4n+1) {
  margin-right: 0;
}

.tumb {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;

}

.clock {
  margin-left: 101.54px;
  margin-right: 101.54px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.satelitte {
  margin-left: 102.34px;
  margin-right: 102.34px;
  margin-top: 25px;
  margin-bottom: 25px;
}


.features-text {
  color: var(--main-text-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  height: 75px;





}

.box {
  display: block;
  width: 270px;
  height: 75px;
  margin-right: 30px;


}


.features-pictures {

  margin-right: 30px;
  width: 370px;
  height: 294px;

}

.features-pictures:nth-last-child(3n+1) {
  margin-right: 0;
}

.flex-element h3 {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;



}

.main-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
  /* вертикальная геометрия */
  margin-top: 0;
  margin-bottom: 94px;

}


/* чем мы занимаемся */
.secondary-title {
  color: var(--title-text-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;


  margin-top: 94px;
  margin-bottom: 50px;


}

.pictures {
  display: flex;
}

.pictures-item {
  width: calc((100%-60)/3);
  margin-right: 30px;
}





/* ***************************************** */
/* НАША КОМАНДА */
.our-team {

  height: 708px;
  width: 1600px;
  background-color: var(--team-bcg-color);
  margin-left: auto;
  margin-right: auto;



}

.team-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 1200px;




  /* outline: 2px solid tomato; */
}

.team-title {
  padding-left: 268px;
  padding-right: 268px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;


}

.item-team {
  width: 270px;

  margin-right: 30px;

}

.item-team:nth-last-child(4n+1) {
  margin-right: 0;
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding-bottom: 0;





}

.card {
  width: 270px;
  height: 428px;
  overflow: hidden;
  border: transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;


}


.card-image {
  display: block;

  width: 270px;
  height: 260px;


}

.card-content {

  background: #FFFFFF;
  box-sizing: border-box;
  border: transparent;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 30px;

  width: 270px;
  height: 168px;


}

.team-member {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;

}

.social-networks {
  display: flex;
  justify-content: center;

}

h4 {
  display: block;
}

.social-networks-item:not(:last-child) {
  margin-right: 10px;
}
.social-networks-item
.social-networks-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;

}





.social-networks-link:hover .social-networks-icons {

  fill: white;
  transition: all var(--time, --animate);

}

.social-networks-link:hover {
  background-color: #2196F3;
  transition: all var(--time, --animate);

}

.social-networks-icons {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}






/* клиенты */

.client {
  height: 182px;


}

.companys-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 1200px;
  height: 182px;
  padding-bottom: 94px;
  padding-top: 94px;
  padding-right: 215px;
  padding-left: 215px;



  /* outline: 2px solid tomato; */
}

.clients-title {
  padding-bottom: 50px;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  /* margin-top: 94px;
  margin-bottom: 50px; */
  color: #212121;


}








.logo-clients-one {
  fill: #AFB1B8;
  width: 44.27px;
  height: 49.23px;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 63px;
  margin-right: 63px;

}

.logo-clients-two {
  fill: #AFB1B8;
  width: 40px;
  height: 50px;

  margin-top: 19px;
  margin-bottom: 19px;
  margin-left: 65px;
  margin-right: 65px;
}

.logo-clients-three {
  fill: #AFB1B8;
  width: 41px;
  height: 42.6px;

  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 65px;
  margin-right: 65px;

}

.logo-clients-four {
  fill: #AFB1B8;
  width: 79px;
  height: 42px;

  margin-top: 23px;
  margin-bottom: 23px;
  margin-left: 44px;
  margin-right: 44px;

}

.logo-clients-five {
  fill: #AFB1B8;
  width: 59px;
  height: 47px;

  margin-top: 22px;
  margin-bottom: 21px;
  margin-left: 56px;
  margin-right: 55px;

}

.logo-clients-six {
  fill: #AFB1B8;
  width: 88px;
  height: 45px;

  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 41px;
  margin-right: 40px;

}

.logo-clients:nth-last-child(6n+1) {
  margin-right: 0;
}

.list-element {
  /* outline: 1px solid green; */
}

.clients-link {
  display: flex;

  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  margin: 0;
}




.list-element:hover .logo {
  fill: #2196F3;
  transition: all var(--time, --animate);
}

.list-element:hover .clients-link {
  border-color: #2196F3;
  transition: all var(--time, --animate);
}

.list-element {
  width: 270px;


  margin-right: 30px;
}

.list-element:nth-last-child(6n+1) {
  margin-right: 0;
}


.clients-container {
  display: flex;
  justify-content: space-between;
  padding-bottom:
}




/* подвал */
.footer-section {
  background-color: #2f303a;
  height: 252px;
  padding-top: 0;
  padding-bottom: 0;
}

.footer {

  width: 1230px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.footer-portfolio{
  padding-top: 94px;
width: 1230px;
margin-bottom: 0;
margin-right: auto;
margin-left: auto;
display: flex;
}
.container-no-padding {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;





}

.webstudio-link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;

}

.address-span {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;

  display: inline-block;
  margin-bottom: 9px;
  margin-top: 20px;

}

.address-mail {
  color: var(--address-mail);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}


.address-contacts-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  display: block;


}

.address-contacts-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  display: block;

}

/* join */
.join {
  margin-left: 70px;
}


.social-networks {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-top: 20px;
}

.footer-joinup-title {
  color: white;
  margin-top: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}




.social-networks-item:not(:last-child) {
  margin-right: 10px;
}



.social-networks-item {
  margin-bottom: 0;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  padding-bottom: 0;
}

.footer-networks-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;


}

.footer-networks-link:hover,
.footer-networks-link:focus {
  background-color: #2196F3;
  transition: all var(--time, --animate);
}



.footer-networks-icons {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;

}


/* portfolio */


.link-portfolio:hover {
  color: var(--accent-color);
  transition: all var(--time, --animate);
}

.link-portfolio:focus {
  color: var(--accent-color);
  transition: all var(--time, --animate);
}


.item-portfolio-features .link-portfolio-features {
  margin-right: 8px;

}

.portfolio-features .item-portfolio-features:last-child {
  margin-right: 0;
}

.portfolio-features {
  display: flex;
  align-items: center;


}

.link-portfolio-features {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  min-width: 84px;
  min-height: 26px;



}

.item-portfolio-features {
  background: #F5F4FA;
  border-radius: 4px;

}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 94px;
}

.button-item {
  margin-right: 8px;
  cursor: pointer;
}

.button-items {

  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: transparent;
  background-color: #F5F4FA;
  height: 38px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;


}

.button-items-website {
  width: 128px;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: transparent;
  background-color: #F5F4FA;
  height: 38px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.button-items-all {
  width: 73px;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: transparent;
  background-color: #F5F4FA;
  height: 38px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.button-items-apps {
  width: 145px;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: transparent;
  background-color: #F5F4FA;
  height: 38px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.button-items-disign {
  width: 103px;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: transparent;
  background-color: #F5F4FA;
  height: 38px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.button-items-marketing {
  width: 130px;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: transparent;
  background-color: #F5F4FA;
  height: 38px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}


.button-items-all:hover {
  background-color: #2196F3;
  color: white;
  transition: all var(--time, --animate);
}

.button-items-website:hover {
  background-color: #2196F3;
  color: white;
  transition: all var(--time, --animate);
}

.button-items-apps:hover {
  background-color: #2196F3;
  color: white;
  transition: all var(--time, --animate);
}

.button-items-disign:hover {
  background-color: #2196F3;
  color: white;
  transition: all var(--time, --animate);
}

.button-items-marketing:hover {
  background-color: #2196F3;
  color: white;
  transition: all var(--time, --animate);
}

/* картинки */
.card-container-portfolio {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  margin-bottom: 94px;

}

.flex-container-portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

}

/* .pictures-portfolio-item{
  display: flex;
  flex-wrap: wrap;
  width: calc((100%-60px)/3);
} */
.card-portfolio {

  width: 370px;
  height: 404px;

  margin-right: 30px;
  margin-bottom: 30px;

  overflow: hidden;
  border: 1px solid #EEEEEE;
}

.card-portfolio:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card-portfolio:nth-last-child(3n+1) {
  margin-right: 0;
}




.card-image-portfolio {
  display: block;

}

.card-content-portfolio {

  background: #FFFFFF;
  box-sizing: border-box;





}

.features-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
  margin-top: 20px;
  margin-left: 24px;

}

.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: #757575;
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}


.card-portfolio:hover,
.card-portfolio:focus {
  cursor: pointer;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: all var(--time, --animate);

}

/*********РИСУЕМ АНИМАЦИЮ********/

.product-thumb {
  position: relative;
  overflow: hidden;
}

/* .product-thumb:hover::before{
  opacity: 1;
} */
.product-thumb::before {

  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.card-portfolio:hover .product-thumb::before {
  transform: translateY(0);
  opacity: 1;
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: all var(--time, --animate);

}

.transition-text {
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 322px;
  height: 168px;
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio:hover .transition-text {
  opacity: 1;
  transform: translateY(0);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: all var(--time, --animate);


}

.transition-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;

  color: #FFFFFF;
}



/* анимация в индекс html */
.features-pictures{
  position: relative;
}

.pictures-transit{
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.pictures-transit p{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 27px 82px;
  color: #FFFFFF;
}
.link-portfolio{
  position: relative;
}
.link-portfolio::before{
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 48px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

 .studio::before{
   display: inline-block;
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 48px;
   height: 4px;
   background-color: var(--accent-color);
   border-radius: 2px;
   opacity: 1;
 }
 .portfolio::before{
   display: inline-block;
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 78px;
   height: 4px;
   background-color: var(--accent-color);
   border-radius: 2px;
   opacity: 1;
 }

.link-portfolio:hover::before{
  opacity: 1;
  transition: all var(--time, --animate);
}
.portfolio-index::before{
   display: inline-block;
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 78px;
   height: 4px;
   background-color: var(--accent-color);
   border-radius: 2px;
   opacity: 0;
}
.portfolio-index:hover::before{
  opacity: 1;
  transition: all var(--time, --animate);
}
.contact::before{
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 68px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}
.contact:hover::before{
   opacity: 1;
   transition: all var(--time, --animate);
}



.hero{
  position: relative;
}
.backdrop{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 1600px;
  height: 1024px;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
 
}
.close{
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid white;
  background-color: #fff;
  cursor: pointer;
 
}

.icon-close{

width: 30px;
height: 30px;
fill: white;
background-color: white;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
} 
.icon-close:focus{
  fill: var(--accent-color);
}
  /* ДЗ НОМЕР 6 РИСУЕМ ФОРМУ */
textarea{
  resize: none;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.textarea-span{
  position: absolute;
  top: 250px;
  left: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  

  color: #757575;
}
.form{
  width: 528px;
  height: 581px;
  
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.form-label-span{
  position: absolute;
  top: 0;
  left: 0;

}
.form-title{
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 22px;
  width: 448px;
  height: 23px;
}
.form-field{
  
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
}
.form-field input{
  padding: 0;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 30px;
  width: 448px;
  height: 40px;
  cursor: pointer;
  
}
.form-field input:focus{
  border-color: var(--accent-color);
}
.form-field label{
  margin-bottom: 4px;
}
.form-field input::placeholder{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}




    /* рисуем checkbox */
.checkbox{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;

 
}

.checkbox-label{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
letter-spacing: 0.03em;

color: #757575;
display: flex;
align-items: center;
padding-bottom: 30px;
}

.icon-check {
 
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #2a2a2a;
  border-radius: 2px;
  

}

.checkbox:checked ~.icon-check{
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../img/svg/check.svg);
  background-size: contain;
  background-origin: border-box;
}




.option{
  display: flex;
  align-items: center;
}
.comment{
  padding: 12px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
width: 448px;
height: 120px;
}



.form-field{
  position: relative;
  margin-bottom: 20px;
  display: block;
}
.form-label{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;

  color: #757575;
  transition: all var(--time, --animate);

}
/*.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
  transform: translate(-22px, -22px);
  
} */

.form-person{
  position: absolute;
  top: 50%;
  left: 0;
   transform: translateY(-50%);
  
  width: 18px;
  height: 18px;
  fill: black;
  mar
 
}
.form-person-span{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;
    fill: black;
}
/*.form-input:focus ~.form-person{
  fill: var(--accent-color);
}
.form-input:focus{
  border-color: red;
} */

.form-field:focus-within > .form-person-span >.form-person {
fill: var(--accent-color);
}
/* 
.form-field:focus-within > .form-label{
  transform: translate(-22px, -22px);
   
}
.form-field:focus-within > .form-laber {
  border-color: var(--accent-color);
}
.form-input:not(:placeholder-shown)+.form-label{
  transform: translateY(-22px, -22px);
}

.form-field:focus-within > .form-label{
  transform: translate(-22px, -22px);
}

.form-input:not(:placeholder-shown)+.form-label{
  transform: translate(-22px, -22px);
} */


.form-label{
position: absolute;
top: -10px;
left: 0;

}
.form-field{
  position: relative;
}
.form-btn{
  margin-left: 144px;
}


/* Рисуем футер блок-форму*/

.footer-telegram{
  width: 200px;
  height: 50px;
}
.footer-telegram{
  position: relative;
}
.icon-send{
  position: absolute;
  top: 12px;
  right: 0;
  width: 24px;
  height: 24px;
  
}
.footer-input{
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
}

.telegram-title{
  padding-left: 180px;
}

.checkbox-link{
  color: var(--accent-color);
}